@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Black.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}

.container {
  width: 71.3%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    width: 95.8%;
  }
}
@media (max-width: 375px) {
  .container {
    width: 91.6%;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

main {
  width: 1600px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  main {
    width: 768px;
  }
}
@media (max-width: 375px) {
  main {
    width: 375px;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  width: 1600px;
  margin: 0 auto;
  background-color: #222222;
}
@media (max-width: 768px) {
  .header {
    width: 768px;
  }
}
@media (max-width: 375px) {
  .header {
    width: 375px;
  }
}
.header__wrp {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 10px 0;
  box-sizing: border-box;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-right: 41px;
}
.header__search {
  display: flex;
  align-items: center;
  width: 300px;
  height: 55px;
  border: 1px solid #F16D7F;
  border-radius: 25px;
  background-color: #ffffff;
  transition: width 5s;
}
@media (max-width: 375px) {
  .header__search {
    max-width: 166px;
  }
}
.header__search-btn {
  vertical-align: middle;
  border: none;
  outline: none;
  background: transparent;
}
.header__search-input {
  -webkit-appearance: none;
  width: 274px;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
}
@media (max-width: 375px) {
  .header__search-input {
    width: 150px;
  }
}
.header__list {
  display: flex;
}
.header__button {
  border: none;
  background-color: transparent;
}
.header__link {
  margin: 0 0 0 34px;
}
@media (max-width: 375px) {
  .header__link {
    display: none;
  }
}
.header__nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: 76px;
  right: -232px;
  width: 231px;
  height: 764px;
  padding: 16px 16px 16px 33px;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: 0.3s;
  visibility: hidden;
}
@media (max-width: 768px) {
  .header__nav {
    top: 76px;
    right: -16px;
  }
}
.header__btn-close {
  margin-left: auto;
  border: none;
  background-color: #ffffff;
}
.header__title {
  margin: 9px 0 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}
.header__nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header__nav-item {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.btn-close {
  fill: #6F6E6E;
}

.btn-close:hover,
.btn-close:focus {
  fill: #222222;
}

.nav-sub-item {
  margin: 20px 0 0 0;
}
.nav-sub-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}
.nav-sub-item__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 0 0 21px;
}
.nav-sub-item__item {
  margin: 11px 0 0 0;
}
.nav-sub-item__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6F6F;
}

.brand {
  display: flex;
  width: 1600px;
  margin: 0 auto 62px auto;
  background-color: #F1E4E6;
}
@media (max-width: 768px) {
  .brand {
    width: 768px;
    margin: 0 auto 20px auto;
  }
}
@media (max-width: 375px) {
  .brand {
    width: 375px;
    height: 363px;
  }
}
.brand__img {
  width: 50%;
}
@media (max-width: 768px) {
  .brand__img {
    width: 50%;
    height: 369px;
  }
}
@media (max-width: 375px) {
  .brand__img {
    display: none;
  }
}
.brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 64px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .brand__title-wrp {
    padding: 0 0 0 40px;
  }
}
.brand__title-img {
  width: 12px;
  height: 92px;
  padding: 0 16px 0 0;
}
@media (max-width: 375px) {
  .brand__title-img {
    height: 61px;
  }
}
.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .brand__title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 375px) {
  .brand__title {
    font-size: 38px;
    line-height: 46px;
    font-weight: 900;
    font-style: normal;
  }
}
.brand__subtitle {
  display: block;
  font-size: 34px;
  line-height: 42px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 768px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 375px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}
.brand__subtitle-pink {
  color: #F16D7F;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 96px 0;
}
@media (max-width: 768px) {
  .sales__list {
    margin: 0 0 154px 0;
  }
}
@media (max-width: 375px) {
  .sales__list {
    flex-direction: column;
    justify-content: center;
    margin: 44px 0 64px 0;
  }
}
.sales__item {
  padding: 20px;
  box-sizing: border-box;
  width: 31.6%;
  height: 260px;
}
@media (max-width: 768px) {
  .sales__item {
    width: 31.5%;
    height: 168px;
  }
}
@media (max-width: 375px) {
  .sales__item {
    width: 100%;
    height: 247px;
    margin: 20px 0 0 0;
  }
}
.sales__item-woman {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../public/img/for-women.jpg");
}
.sales__item-man {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../public/img/for-men.jpg");
}
.sales__item-kids {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../public/img/for-kids.jpg");
}
.sales__slogan {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
}
.sales__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}
.sales__item-shoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 180px;
  margin: 30px 0 0 0;
  box-sizing: border-box;
  background-image: url("../../public/img/accesories.jpg");
  background-size: 100% auto;
}
@media (max-width: 768px) {
  .sales__item-shoes {
    height: 116px;
    margin: 20px 0 0 0;
  }
}
@media (max-width: 375px) {
  .sales__item-shoes {
    background-size: auto 111px;
  }
}

.catalog {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .catalog {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .catalog {
    width: 100%;
  }
}
.catalog__wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.catalog__img {
  max-height: 420px;
}
.catalog__title {
  margin: 0 0 6px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}
.catalog__text {
  margin: 0 0 48px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #9F9F9F;
}
@media (max-width: 768px) {
  .catalog__text {
    margin: 0 0 74px 0;
  }
}
@media (max-width: 375px) {
  .catalog__text {
    margin: 0 0 64px 0;
  }
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 0 48px 0;
}
@media (max-width: 768px) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 0 0 33px 0;
    overflow-y: hidden;
  }
}
@media (max-width: 375px) {
  .catalog__list {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    margin: 0 0 41px 0;
  }
}
.catalog__product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  left: -8px;
  margin: 0 0 128px 0;
}
@media (max-width: 768px) {
  .catalog__product-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    overflow-y: hidden;
  }
}
@media (max-width: 375px) {
  .catalog__product-list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 0 64px 0;
    overflow-y: hidden;
  }
}
.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 360px;
  height: 581px;
  background-color: #F8F8F8;
  box-sizing: border-box;
}
.catalog__item-title {
  margin: 25px 0 12px 0;
  padding: 0 0 0 18px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  box-sizing: border-box;
}
.catalog__item-text {
  margin: 0 0 18px 0;
  padding: 0 0 0 18px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  box-sizing: border-box;
}
.catalog__item-price {
  margin: 0 0 20px 0;
  padding: 0 0 0 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  box-sizing: border-box;
}
.catalog__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 211px;
  height: 47px;
  margin: 0 auto 95px auto;
  box-sizing: border-box;
  border: 1px solid #F16D7F;
}
@media (max-width: 768px) {
  .catalog__btn {
    margin: 0 auto 65px auto;
  }
}
@media (max-width: 375px) {
  .catalog__btn {
    margin: 0 auto 96px auto;
  }
}
.catalog__btn-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 13px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}
.catalog__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 283px;
  height: 43px;
  margin: 0 auto 96px auto;
  padding: 10px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  box-sizing: border-box;
}
.catalog__pagination-number {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #EBEBEB;
}
.catalog__next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: none;
  box-sizing: border-box;
  background: transparent;
}
.catalog__prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: none;
  box-sizing: border-box;
  background: transparent;
}

@media (max-width: 768px) {
  .item {
    display: none;
  }
}

.cart {
  width: 360px;
  height: 420px;
}
.cart__overlay {
  position: relative;
}
.cart__overlay:before {
  content: "";
  width: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cart__overlay:before {
  display: none;
}
.cart__img {
  width: 100%;
  min-height: 420px;
}
.cart__btn {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 43px;
  top: 50%;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  border: 1px solid #FFFFFF;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.catalog__item:hover .cart__overlay:before,
.catalog__item:hover .cart__btn {
  display: flex;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 341px;
  margin: 0 auto;
  background-color: #222222;
}
@media (max-width: 768px) {
  .info {
    align-items: start;
    width: 768px;
    height: 610px;
  }
}
@media (max-width: 375px) {
  .info {
    width: 375px;
  }
}
.info__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .info__list {
    flex-direction: column;
    justify-content: left;
  }
}
.info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .info__item {
    width: 360px;
    padding: 48px 0 0 0;
  }
}
@media (max-width: 375px) {
  .info__item {
    width: 343px;
  }
}
.info__title {
  margin: 28px 0 16px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}
.info__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #FBFBFB;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  height: 448px;
  margin: 0 auto;
  background-image: url("../../public/img/footer-bg.jpg");
}
@media (max-width: 768px) {
  .subscribe {
    align-items: start;
    width: 768px;
    height: 614px;
    background-image: url("../../public/img/footer-bg2.jpg");
  }
}
@media (max-width: 375px) {
  .subscribe {
    width: 375px;
    height: 550px;
    background-size: auto 550px;
  }
}
.subscribe__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .subscribe__wrp {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .subscribe__info {
    margin: 64px 0 0 0;
  }
}
.subscribe__img {
  margin: 0 0 30px 0;
}
.subscribe__text {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222222;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 557px;
}
@media (max-width: 768px) {
  .subscribe__form {
    margin: 64px 0 0 0;
  }
}
@media (max-width: 375px) {
  .subscribe__form {
    width: 343px;
  }
}
.subscribe__title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}
.subscribe__subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #222222;
  text-transform: uppercase;
}
.subscribe__input {
  margin: 32px 0 0 0;
  padding-left: 20px;
  width: 264px;
  height: 49px;
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  border-radius: 25px 0 0 25px;
  background-color: #E1E1E1;
}
@media (max-width: 375px) {
  .subscribe__input {
    width: 245px;
  }
}
.subscribe__btn {
  position: relative;
  left: -4px;
  margin: 32px 0 0 0;
  width: 100px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  border: none;
  border-radius: 0 22px 22px 0;
  color: #ffffff;
  background-color: #F16D7F;
}
@media (max-width: 375px) {
  .subscribe__btn {
    width: 95px;
  }
}

.social {
  width: 1600px;
  margin: 0 auto;
  background-color: #222222;
}
@media (max-width: 768px) {
  .social {
    width: 768px;
  }
}
@media (max-width: 375px) {
  .social {
    width: 375px;
    height: 143px;
  }
}
.social__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 375px) {
  .social__wrp {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.social__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}
@media (max-width: 768px) {
  .social__text {
    margin: 0 0 0 16px;
  }
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79px;
}
@media (max-width: 768px) {
  .social__list {
    margin: 0 16px 0 0;
  }
}
@media (max-width: 768px) {
  .social__list {
    margin: 16px 0;
  }
}
.social__item {
  padding: 0 0 0 7px;
}

.link:hover,
.link:focus {
  color: #F16D7F;
  cursor: pointer;
}

.link:active {
  color: #6F6E6E;
}

.btn:hover,
.btn:focus,
.cart__btn:hover,
.cart__btn:focus {
  background-color: #F16D7F;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
}

.btn:hover .btn-text,
.btn:focus .btn-text {
  color: #ffffff;
}

.btn:active,
.cart__btn:active {
  opacity: 0.7;
}

.icon,
.input-icon {
  fill: #E8E8E8;
}

.icon-el1 {
  fill: #ffffff;
}

.icon-el2 {
  fill: #000000;
}

.icon:hover,
.icon:focus,
.link-icon:focus .icon,
.link-icon:hover .icon-el1,
.link-icon:focus .icon-el1 {
  fill: #F16D7F;
}

.link-icon:hover .icon-el2,
.link-icon:focus .icon-el2 {
  fill: #ffffff;
}

.btn-icon:hover .icon,
.btn-icon:focus .icon {
  fill: #F16D7F;
}

.icon:active,
.link-icon:active .icon-el1,
.btn-icon:active .icon {
  fill: #6F6E6E;
}

.input:hover,
.input:focus {
  outline: 1px solid #F16D7F;
  background: white;
  cursor: pointer;
}

.col-icon {
  fill: #F16D7F;
}

.col-icon:hover,
.col-icon:focus,
.col-icon:active {
  fill: #ffffff;
}

.btn:hover .col-icon,
.btn:focus .col-icon,
.btn:active .col-icon {
  fill: #ffffff;
}

.arrow:focus {
  outline: none;
}

.arrow:hover,
.arrow:active {
  cursor: pointer;
}

.arrow:active {
  opacity: 0.7;
}

.btn-prev,
.btn-next {
  fill: #000000;
}

.btn-prev:hover,
.btn-next:hover,
.btn-prev:focus,
.btn-next:focus,
.arrow:hover .btn-prev,
.arrow:focus .btn-prev,
.arrow:hover .btn-next,
.arrow:focus .btn-next {
  fill: #F16D7F;
}

.btn-prev:active,
.btn-next:active,
.arrow:active .btn-prev,
.arrow:active .btn-next {
  fill: #ffffff;
}

.invisible {
  display: none;
}

.invisible-text {
  visibility: hidden;
}

.page-name {
  width: 1600px;
  margin: 0 auto;
  background-color: #F8F3F4;
}
@media (max-width: 768px) {
  .page-name {
    width: 768px;
  }
}
@media (max-width: 375px) {
  .page-name {
    width: 375px;
  }
}
.page-name__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 148px;
}
@media (max-width: 375px) {
  .page-name__wrp {
    flex-direction: column;
    justify-content: center;
  }
}
.page-name__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}
.page-name__breadcrumbs {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #636363;
}
@media (max-width: 375px) {
  .page-name__breadcrumbs {
    margin: 32px 0 0 0;
  }
}
.page-name__breadcrumbs-active {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.reg {
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .reg {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .reg {
    width: 100%;
  }
}
.reg__wrp {
  display: flex;
  justify-content: left;
  padding: 64px 0 96px 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .reg__wrp {
    padding: 40px 0 96px 0;
  }
}
@media (max-width: 375px) {
  .reg__wrp {
    flex-direction: column;
    align-items: center;
  }
}
.reg__form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 360px;
}
@media (max-width: 375px) {
  .reg__form {
    margin: 0 0 40px 0;
  }
}
.reg__form-title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
}
.reg__form-input {
  margin: 5px 0 0 0;
  padding: 0 0 0 17px;
  width: 360px;
  height: 44px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  box-sizing: border-box;
  color: #B1B1B1;
  border: none;
  outline: 1px solid #A4A4A4;
}
.reg__form-input::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
}
.reg__form-checked {
  margin: 8px 0 33px 0;
}
.reg__form-text {
  width: 360px;
  min-height: 20px;
  margin: 2px 0 0 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: red;
}
.reg__form-text-password {
  width: 360px;
  margin: 2px 0 0 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
}
.reg__form-btn {
  width: 167px;
  height: 50px;
  margin: 39px 0 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  border: none;
  background-color: #F16D7F;
}
.reg__info {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin: 0 0 0 128px;
}
@media (max-width: 768px) {
  .reg__info {
    margin: 0 0 0 22px;
    width: 354px;
  }
}
@media (max-width: 375px) {
  .reg__info {
    margin: 0;
  }
}
.reg__info-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 768px) {
  .reg__info-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}
.reg__info-text {
  margin: 22px 0 0 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}
@media (max-width: 768px) {
  .reg__info-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}
.reg__info-item {
  position: relative;
  left: 38px;
  margin: 28px 0 0 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  hyphens: auto;
  word-break: keep-all;
  overflow-wrap: break-word;
}
@media (max-width: 768px) {
  .reg__info-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}
.reg__info-item:after {
  position: absolute;
  top: 5px;
  left: -38px;
  content: "";
  width: 20px;
  height: 16px;
  background-image: url("../../public/img/check.png");
  background-size: 20px 16px;
}
.reg__form-input:hover, .reg__form-input:focus {
  outline: 1px solid #F16D7F;
  background: white;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: #F16D7F;
  cursor: pointer;
}

.link:active {
  color: #6F6E6E;
}

.btn:hover,
.btn:focus,
.cart__btn:hover,
.cart__btn:focus {
  background-color: #F16D7F;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
}

.btn:hover .btn-text,
.btn:focus .btn-text {
  color: #ffffff;
}

.btn:active,
.cart__btn:active {
  opacity: 0.7;
}

.icon,
.input-icon {
  fill: #E8E8E8;
}

.icon-el1 {
  fill: #ffffff;
}

.icon-el2 {
  fill: #000000;
}

.icon:hover,
.icon:focus,
.link-icon:focus .icon,
.link-icon:hover .icon-el1,
.link-icon:focus .icon-el1 {
  fill: #F16D7F;
}

.link-icon:hover .icon-el2,
.link-icon:focus .icon-el2 {
  fill: #ffffff;
}

.btn-icon:hover .icon,
.btn-icon:focus .icon {
  fill: #F16D7F;
}

.icon:active,
.link-icon:active .icon-el1,
.btn-icon:active .icon {
  fill: #6F6E6E;
}

.input:hover,
.input:focus {
  outline: 1px solid #F16D7F;
  background: white;
  cursor: pointer;
}

.col-icon {
  fill: #F16D7F;
}

.col-icon:hover,
.col-icon:focus,
.col-icon:active {
  fill: #ffffff;
}

.btn:hover .col-icon,
.btn:focus .col-icon,
.btn:active .col-icon {
  fill: #ffffff;
}

.arrow:focus {
  outline: none;
}

.arrow:hover,
.arrow:active {
  cursor: pointer;
}

.arrow:active {
  opacity: 0.7;
}

.btn-prev,
.btn-next {
  fill: #000000;
}

.btn-prev:hover,
.btn-next:hover,
.btn-prev:focus,
.btn-next:focus,
.arrow:hover .btn-prev,
.arrow:focus .btn-prev,
.arrow:hover .btn-next,
.arrow:focus .btn-next {
  fill: #F16D7F;
}

.btn-prev:active,
.btn-next:active,
.arrow:active .btn-prev,
.arrow:active .btn-next {
  fill: #ffffff;
}

.invisible {
  display: none;
}

.invisible-text {
  visibility: hidden;
}

.shop {
  width: 1600px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .shop {
    width: 768px;
  }
}
@media (max-width: 375px) {
  .shop {
    width: 375px;
  }
}
.shop__wrp {
  display: flex;
  justify-content: space-between;
  margin: 96px auto 128px auto;
}
@media (max-width: 768px) {
  .shop__wrp {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 60px auto 128px auto;
  }
}
@media (max-width: 375px) {
  .shop__wrp {
    margin: 40px auto 96px auto;
  }
}

.shop-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
@media (max-width: 768px) {
  .shop-cart {
    margin: 0 0 64px 0;
  }
}
@media (max-width: 768px) {
  .shop-cart {
    margin: 0 0 48px 0;
  }
}
.shop-cart__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.shop-cart__item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 652px;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 25px 25px 25px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 25px 25px 25px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 25px 25px 25px 0 rgba(0, 0, 0, 0.18);
  box-sizing: border-box;
}
@media (max-width: 375px) {
  .shop-cart__item {
    margin: 0 0 32px 0;
  }
}
.shop-cart__img {
  max-width: 262px;
  max-height: 306px;
}
@media (max-width: 375px) {
  .shop-cart__img {
    width: 144px;
    height: 188px;
  }
}
.shop-cart__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 390px;
  height: 306px;
  padding: 22px 22px 22px 31px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .shop-cart__info {
    width: 472px;
  }
}
@media (max-width: 375px) {
  .shop-cart__info {
    width: 214px;
    height: 188px;
    padding: 14px 14px 17px 17px;
  }
}
.shop-cart__title {
  margin: 0 0 42px 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
}
@media (max-width: 375px) {
  .shop-cart__title {
    margin: 0 0 26px 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
  }
}
.shop-cart__text {
  display: flex;
  margin: 0 0 6px 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
}
@media (max-width: 375px) {
  .shop-cart__text {
    margin: 0 0 4px 0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }
}
.shop-cart__color-text {
  color: #F16D7F;
}
.shop-cart__count {
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  padding: 0 5px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.shop-cart__input {
  text-align: center;
  width: 41px;
  height: 40px;
  margin: 0 0 0 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: #656565;
  border: none;
  outline: 1px solid #EAEAEA;
}
@media (max-width: 375px) {
  .shop-cart__input {
    width: 24px;
    height: 15px;
  }
}
.shop-cart__btn-close {
  position: absolute;
  top: 22px;
  right: 22px;
  border: none;
  background-color: #ffffff;
}
@media (max-width: 375px) {
  .shop-cart__btn-close {
    top: 14px;
    right: 14px;
  }
}
.shop-cart__btns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 652px;
  margin: 32px 0 0 0;
}
@media (max-width: 768px) {
  .shop-cart__btns {
    width: 540px;
    margin: 22px 0 0 0;
  }
}
@media (max-width: 375px) {
  .shop-cart__btns {
    width: 343px;
    margin: 0;
  }
}
.shop-cart__btn {
  text-align: center;
  height: 50px;
  padding: 0 40px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #A4A4A4;
}
@media (max-width: 375px) {
  .shop-cart__btn {
    height: 32px;
    padding: 0 30px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    font-style: normal;
    text-transform: capitalize;
  }
}

.shop-shipping {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 360px;
}
@media (max-width: 768px) {
  .shop-shipping {
    flex-direction: row;
    justify-content: space-between;
    width: 736px;
  }
}
@media (max-width: 375px) {
  .shop-shipping {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 360px;
    left: -8px;
  }
}
.shop-shipping__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}
.shop-shipping__input {
  width: 360px;
  height: 45px;
  margin: 21px 0 0 0;
  padding: 0 0 0 17px;
  box-sizing: border-box;
  border: none;
  outline: 1px solid #A4A4A4;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  background: #FFFFFF;
}
.shop-shipping__input::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
}
.shop-shipping__btn {
  width: 100px;
  height: 34px;
  margin: 24px 0 0 0;
  box-sizing: border-box;
  border: 1px solid #A4A4A4;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  color: #4A4A4A;
  text-transform: uppercase;
  background: #FFFFFF;
}

@media (max-width: 375px) {
  .icon-close {
    width: 10px;
    height: 10px;
  }
}

.shop-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 360px;
  height: 214px;
  margin: 58px 0 0 0;
  padding: 39px 34px;
  box-sizing: border-box;
  background-color: #F5F3F3;
}
@media (max-width: 375px) {
  .shop-total {
    margin: 48px 0 0 0;
  }
}
.shop-total__text {
  margin: 0 0 0 auto;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #4A4A4A;
}
.shop-total__text-input {
  text-align: right;
  width: 50px;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  color: #4A4A4A;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
}
.shop-total__title {
  margin: 12px 0 0 auto;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
}
.shop-total__title-input {
  text-align: right;
  width: 60px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  border: none;
  box-sizing: border-box;
  background-color: transparent;
}
.shop-total__line {
  width: 275px;
  height: 2px;
  margin: 21px 0 0 0;
  border: none;
  background: #E2E2E2;
}
.shop-total__btn {
  width: 273px;
  height: 50px;
  margin: 17px 0 0 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #F16D7F;
}

.collection {
  position: relative;
  top: -64px;
}
@media (max-width: 768px) {
  .collection {
    top: 0;
  }
}
.collection__wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 71.3%;
  margin: 0 auto 65px auto;
  padding: 65px;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .collection__wrp {
    width: 100%;
    margin: 0 auto 128px auto;
  }
}
@media (max-width: 375px) {
  .collection__wrp {
    width: 100%;
    margin: 0 auto 65px auto;
  }
}
.collection__title {
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}
.collection__hr-title {
  width: 63px;
  margin: 0 0 12px 0;
  border: 2px solid #F16D7F;
  box-sizing: border-box;
  background-color: #F16D7F;
}
.collection__subtitle {
  margin: 0 0 48px 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #4D4D4D;
}
@media (max-width: 375px) {
  .collection__subtitle {
    margin: 0 0 32px 0;
  }
}
.collection__text {
  text-align: center;
  width: 555px;
  margin: 0 0 32px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5E5E5E;
}
@media (max-width: 768px) {
  .collection__text {
    width: 72.3%;
  }
}
@media (max-width: 375px) {
  .collection__text {
    width: 87%;
  }
}
.collection__price {
  margin: 0 0 65px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
}
@media (max-width: 375px) {
  .collection__price {
    margin: 0 0 32px 0;
  }
}
.collection__hr {
  width: 641px;
  height: 0;
  margin: 0 0 65px 0;
  background-color: #F16D7F;
  border: 1px solid #EAEAEA;
}
@media (max-width: 375px) {
  .collection__hr {
    width: 175px;
    margin: 0 0 50px 0;
  }
}
.collection__select-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 49px 0;
}
@media (max-width: 375px) {
  .collection__select-list {
    width: 175px;
    margin: 0 0 65px 0;
  }
}
.collection__select {
  margin: 0 6px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  text-transform: uppercase;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .collection__select {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}
.collection__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 43px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #F16D7F;
  background: rgba(0, 0, 0, 0);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
}

.carousel {
  position: relative;
  width: 1600px;
  margin: 0 auto;
  border: none;
  outline: none;
}
@media (max-width: 768px) {
  .carousel {
    width: 768px;
    height: 624px;
  }
}
@media (max-width: 375px) {
  .carousel {
    width: 375px;
  }
}
.carousel__gallery img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .carousel__gallery img {
    width: 100%;
    height: 624px;
  }
}
.carousel__prev {
  position: absolute;
  display: block;
  width: 47px;
  height: 47px;
  top: 50%;
  left: 24px;
  padding: 0;
  transform: translate(-50%, -50%);
  border: none;
  background: rgba(42, 42, 42, 0.15);
  z-index: 3;
}
.carousel__next {
  position: absolute;
  display: block;
  width: 47px;
  height: 47px;
  top: 50%;
  right: -24px;
  padding: 0;
  transform: translate(-50%, -50%);
  border: none;
  background: rgba(42, 42, 42, 0.15);
  z-index: 3;
}
.carousel__gallery {
  width: 100%;
  overflow: hidden;
}
.carousel__gallery ul {
  width: 400%;
  height: 777px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 500ms;
  font-size: 0;
}
.carousel__gallery li {
  position: relative;
  display: inline-block;
}

.filter__wrp {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 51px auto 64px auto;
}
@media (max-width: 768px) {
  .filter__wrp {
    justify-content: space-between;
    margin: 28px auto 40px auto;
  }
}
@media (max-width: 375px) {
  .filter__wrp {
    margin: 24px auto 32px auto;
  }
}
.filter__btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.filter__title {
  margin: 0 12px 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 375px) {
  .filter__title {
    display: none;
  }
}
.filter__burger {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (max-width: 375px) {
  .filter__burger {
    width: 37.5px;
    height: 25px;
  }
}
.filter__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  top: -13px;
  left: 0;
  width: 360px;
  height: 531px;
  padding: 16px 16px 16px 16px;
  -webkit-box-shadow: 0px 5px 59px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 59px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 59px 2px rgba(34, 60, 80, 0.2);
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 2;
  transition: 0.3s;
<<<<<<< HEAD
  visibility: hidden;
=======
  opacity: 0;
>>>>>>> 0ec4795fabd628e0541d64e7fae9ab7561bf477f
}
.filter__menu-title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 16px 0 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}
.filter__menu-img {
  width: 5px;
  height: 37px;
  margin: 0 11px 0 0;
  z-index: 3;
}
.filter__hr-title {
  position: relative;
  width: 327px;
  height: 0;
  top: -2px;
  margin: 0 0 18px 0;
  background-color: #EBEBEB;
  border: 1px solid #EBEBEB;
  z-index: 2;
}
.filter__submenu-list {
  margin: 20px 0 20px 5px;
}
.filter__submenu-item {
  margin: 11px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
}
.filter__select-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 300px;
}
@media (max-width: 768px) {
  .filter__select-list {
    margin: 0;
  }
}
.filter__select {
  margin: 0 0 0 18px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
  text-transform: uppercase;
  border: none;
  outline: none;
}
@media (max-width: 375px) {
  .filter__select {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

.color-active {
  color: #F16D7F;
  fill: #F16D7F;
}