@import "var";
@import "mixins";

.brand {
  display: flex;
  width: 1600px;
  margin: 0 auto 62px auto;
  background-color: $light-pink;

  &__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
  }

  &__title-img {
    width: 12px;
    height: 92px;
    padding: 0 16px 0 0;
  }

  &__title {
    @include font(48px, 58px, 900);
    text-transform: uppercase;
  }

  &__subtitle {
    display: block;
    @include font(37px, 44px, 700);
  }

  &__subtitle-pink {
    color: $dark-pink;
  }
}
