@import "var";
@import "mixins";

.catalog {
  width: 100%;
  margin: 0 auto;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  &__wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  &__img {
    max-height: 420px;
  }

  &__title {
    margin: 0 0 6px 0;
    @include font(30px, 36px, 400);
    color: $black-bkg;
    text-transform: uppercase;
  }

  &__text {
    margin: 0 0 48px 0;
    @include font(14px, 17px, 400);
    color: $light-gray;

    @include tablet {
      margin: 0 0 74px 0;
    }

    @include mobile {
        margin: 0 0 64px 0;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 0 48px 0;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      margin: 0 0 33px 0;
      overflow-y: hidden;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-column-gap: 0;
      margin: 0 0 41px 0;
    }
  }

  &__product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    left: -8px;
    margin: 0 0 128px 0;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-auto-rows: 0;
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      overflow-y: hidden;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: 0 0 64px 0;
      overflow-y: hidden;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 360px;
    height: 581px;
    background-color: #F8F8F8;
    box-sizing: border-box;
  }

  &__item-title {
    margin: 25px 0 12px 0;
    padding: 0 0 0 18px;
    @include font(13px, 16px, 400);
    color: $black;
    text-transform: uppercase;
    box-sizing: border-box;
  }

  &__item-text {
    margin: 0 0 18px 0;
    padding: 0 0 0 18px;
    @include font(14px, 17px, 300);
    color: #5D5D5D;
    box-sizing: border-box;
  }

  &__item-price {
    margin: 0 0 20px 0;
    padding: 0 0 0 18px;
    @include font(16px, 19px, 400);
    color: $dark-pink;
    box-sizing: border-box;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 211px;
    height: 47px;
    margin: 0 auto 95px auto;
    box-sizing: border-box;
    border: 1px solid $dark-pink;

    @include tablet {
      margin: 0 auto 65px auto;
    }

    @include mobile {
      margin: 0 auto 96px auto;
    }
  }

  &__btn-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 13px;
    @include font(16px, 19px, 400);;
    color: $dark-pink;
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 283px;
    height: 43px;
    margin: 0 auto 96px auto;
    padding: 10px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__pagination-number {
    @include font(16px, 19px, 300);
    color: #EBEBEB;
  }

  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: none;
    box-sizing: border-box;
    background: transparent;
  }

  &__prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    border: none;
    box-sizing: border-box;
    background: transparent;
  }
}

.item {
  @include tablet {
    display: none;
  }
}
