@import "var";
@import "mixins";

.header {
  width: 1600px;
  margin: 0 auto;
  background-color: $black-bkg;

  @include tablet {
    width: 768px;
  }

  @include mobile {
    width: 375px;
  }

  &__wrp {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 10px 0;
    box-sizing: border-box;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 41px;
  }

  &__search {
    display: flex;
    align-items: center;
    width: 300px;
    height: 55px;
    border: 1px solid #F16D7F;
    border-radius: 25px;
    background-color: $white-bkg;
    transition: width 5s;

    @include mobile {
      max-width: 166px;
    }
  }

  &__search-btn {
    vertical-align: middle;
    border: none;
    outline: none;
    background: transparent;
  }

  &__search-input {
    -webkit-appearance: none;
    width: 274px;
    vertical-align: middle;
    padding-left: 10px;
    @include font(16px, 19px, 400);
    border: none;
    outline: none;
    box-sizing: border-box;
    background: transparent;

    @include mobile {
      width: 150px;
    }
  }

  &__list {
    display: flex;
  }

  &__button {
    border: none;
    background-color: transparent;
  }

  &__link {
    margin: 0 0 0 34px;

    @include mobile {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    top: 76px;
    right: -232px;
    width: 231px;
    height: 764px;
    padding: 16px 16px 16px 33px;
    box-sizing: border-box;
    background-color: $white-bkg;
    transition: 0.3s;
    visibility: hidden;

    @include tablet {
      top: 76px;
      right: -16px;
    }
  }

  &__btn-close {
    margin-left: auto;
    border: none;
    background-color: $white-bkg;
  }

  &__title {
    margin: 9px 0 0 0;
    @include font(14px, 17px, 700);
    text-transform: uppercase;
    color: $black;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__nav-item {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.btn-close {
  fill: #6F6E6E;
}

.btn-close:hover,
.btn-close:focus {
  fill: #222222;
}
