@import "var";
@import "mixins";

.page-name {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1600px;
  height: 148px;
  margin: 0 auto;
  background-color: #F8F3F4;

  &__title {
    @include font(24px, 29px, 400);
    text-transform: uppercase;
    color: $dark-pink;
  }
}