@import "var";
@import "mixins";
@import "effects";

.shop {
  width: 1600px;
  margin: 0 auto;

  @include tablet {
    width: 768px;
  }

  @include mobile {
    width: 375px;
  }

  &__wrp {
    display: flex;
    justify-content: space-between;
    margin: 96px auto 128px auto;

    @include tablet {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      margin: 60px auto 128px auto;
    }

    @include mobile {
      margin: 40px auto 96px auto;
    }
  }
}

.shop-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  @include tablet {
    margin: 0 0 64px 0;
  }

  @include tablet {
    margin: 0 0 48px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 0 40px 0;
    -webkit-box-shadow: 25px 25px 25px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 25px 25px 25px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 25px 25px 25px 0 rgba(0, 0, 0, 0.18);
    box-sizing: border-box;

    @include mobile {
      margin: 0 0 32px 0;
    }
  }

  &__img {
    @include mobile {
      width: 144px;
      height: 188px;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 390px;
    height: 306px;
    padding: 22px 22px 22px 31px;
    box-sizing: border-box;

    @include tablet {
      width: 472px;
    }

    @include mobile {
      width: 214px;
      height: 188px;
      padding: 14px 14px 17px 17px;
    }
  }

  &__title {
    margin: 0 0 42px 0;
    text-transform: uppercase;
    @include font(24px, 29px, 400);
    color: $black-bkg;

    @include mobile {
      margin: 0 0 26px 0;
      @include font(16px, 19px, 400);
    }
  }

  &__text {
    margin: 0 0 6px 0;
    @include font(22px, 26px, 400);
    color: #575757;

    @include mobile {
      margin: 0 0 4px 0;
      @include font(14px, 17px, 400);
    }
  }

  &__input {
    text-align: center;
    width: 41px;
    height: 22px;
    box-sizing: border-box;
    color: #656565;
    border: none;
    outline: 1px solid #EAEAEA;;

    @include mobile {
      width: 24px;
      height: 15px;
    }
  }

  &__btn-close {
    position: absolute;
    top: 22px;
    right: 22px;
    border: none;
    background-color: $white-bkg;

    @include mobile {
      top: 14px;
      right: 14px;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 652px;
    margin: 32px 0 0 0;

    @include tablet {
      width: 540px;
      margin: 22px 0 0 0;
    }

    @include mobile {
      width: 343px;
      margin: 0;
    }
  }

  &__btn {
    text-align: center;
    height: 50px;
    padding: 0 40px;
    @include font(14px, 17px, 300);
    color: $black;
    text-transform: uppercase;
    background-color: $white-bkg;
    border: 1px solid #A4A4A4;

    @include mobile {
      height: 32px;
      padding: 0 30px;
      @include font(12px, 14px, 300);
      text-transform: capitalize;
    }
  }
}

.shop-shipping {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 360px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    width: 736px;
  }

  @include mobile {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 360px;
    left: -8px;
  }

  &__title {
    @include font(16px, 19px, 300);
    color: $black-bkg;
    text-transform: uppercase;
  }

  &__input {
    width: 360px;
    height: 45px;
    margin: 21px 0 0 0;
    padding: 0 0 0 17px;
    box-sizing: border-box;
    border: none;
    outline: 1px solid #A4A4A4;
    @include font(13px, 16px, 300);
    color: $black-bkg;
    background: #FFFFFF;
  }

  &__input::placeholder {
    @include font(13px, 16px, 300);
    color: #B1B1B1;
  }

  &__btn {
    width: 100px;
    height: 34px;
    margin: 24px 0 0 0;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
    @include font(11px, 13px, 400);
    color: #4A4A4A;
    text-transform: uppercase;
    background: #FFFFFF;
  }
}

.icon-close {
  @include mobile {
    width: 10px;
    height: 10px;
  }
}

.shop-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 360px;
  height: 214px;
  margin: 58px 0 0 0;
  padding: 39px 34px;
  box-sizing: border-box;
  background-color: #F5F3F3;

  @include mobile {
    margin: 48px 0 0 0;
  }

  &__text {
    margin: 0 0 0 auto;
    @include font(11px, 13px, 400);
    text-transform: uppercase;
    color: #4A4A4A;
  }

  &__title {
    margin: 12px 0 0 auto;
    @include font(16px, 19px, 300);
    color: $black-bkg;
    text-transform: uppercase;
  }

  &__line {
    width: 275px;
    height: 2px;
    margin: 21px 0 0 0;
    border: none;
    background: #E2E2E2;
  }

  &__btn {
    width: 273px;
    height: 50px;
    margin: 17px 0 0 0;
    @include font(16px, 19px, 300);
    color: $white-bkg;
    text-transform: uppercase;
    border: none;
    background-color: $dark-pink;
  }
}